<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="form.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"  [(ngModel)]="form.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" [(ngModel)]="form.address" name="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Designation</ion-label>
      <ion-input type="text" [(ngModel)]="form.designation" name="designation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-datetime display-timezone="utc" [(ngModel)]="form.dob" name="dob"></ion-datetime>
    </ion-item>
    <ion-button expand="block" type="submit" >SUBMIT</ion-button>
  </form>

</ion-content>