<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/form/insert" routerDirection="forward">Create New Employee
          <ion-icon slot="end" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card *ngFor="let employee of employees" routerLink="/detail/{{employee.emp_id}}" routerDirection="forward">
          <ion-card-header>

            <ion-card-title>{{employee.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>
              <strong>Designation: </strong>{{employee.designation}}</p>
            <p>

              <!-- <p>
                <strong>Email: </strong> {{employee.email}}</p>
              <p>
                <strong>Address: </strong>{{employee.address}} </p>
              <p>
                <strong>Date of Birth: </strong>{{employee.dob}} </p> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>